extends ../layout
block content
  - var caption = (role == 'stu')? '创建学生行政单元' : '创建教职工行政单元'
  - var initcode = (role == 'stu')? '10576-01-01-xx-xxxx-xx-xx' : '10576-02-xx-xx-xx'
  if flash[1]
    - initcode = flash[1].message
    - flash.pop()

  if role == 'stu'
    script(src='/units_student.js')
    script(src='/javascripts/getStudentUnit.js')
  else
    script(src='/units_teacher.js')
    script(src='/javascripts/getTeacherUnit.js')
  
  include ../header
  #units_new.container
    .panel.panel-primary
      .panel-heading
        h3.panel-title #{caption}
      .panel-body
        form#UnitForm.form-horizontal(method="post" action="/units")
          input(type="hidden" value="" id="htcode" name="htcode")
          input(type="hidden" value="" id="name" name="name")
          include ../messages.jade
          .form-group
            .input-group
              span.input-group-addon 单元编码
              input(id="unit-code" type="text" class="form-control" disabled value="#{initcode}" title="自动显示单元编码")
          .form-group
            .input-group
              if role == 'stu'
                span.input-group-addon 二级学院
                select#college.form-control
              else
                span.input-group-addon 机构部门
                select#institutions.form-control
              span.input-group-addon @韶关学院
            .input-group
              if role == 'stu'
                span.input-group-addon 所属年级
                select#grade.form-control
              else
                span.input-group-addon 机构附属
                select#departments.form-control
              span.input-group-addon @韶关学院
            .input-group
              if role == 'stu'
                span.input-group-addon 所属专业
                select#major.form-control
              else
                span.input-group-addon 院系附属
                select#divsion.form-control
              span.input-group-addon @韶关学院
            .input-group
              if role == 'stu'
                span.input-group-addon 所属班级
                select#stuclass.form-control
                span.input-group-addon @韶关学院
          .form-group     
            .input-group
              span.input-group-addon 激活状态
              select#astatus.form-control(name="status")
                option(value="01" selected) 启用
                option(value="02") 禁用
              span.input-group-addon 启用/禁用此单元
          .form-group
            .btnok
              input.button.button-glow.button-border.button-rounded.button-primary.btn-lg(type="submit" value="提交")
          .form-group
            p.link
              if role == 'stu'
                a(href="/units/new?role=tea" target="_blank") 创建教职工单元
              else
                a(href="/units/new?role=stu" target="_blank") 创建学生单元
              span  &nbsp;| &nbsp;  
              a(href="/units" target="_blank") 显示全部