//创建新的unit的完整记录的视图units_new.jade
extends ../layout

block content
  include ../header.jade
  #units_new_stu
    .unit-box
      .box-title
        h4 创建学生行政单元
  script(src='/javascripts/jquery.min.js')
  script(src='/units_student.js')
  script(src='/javascripts/getStudentUnit.js')
  form.form-horizontal(method='post', action='#')
  p(id="code") 代码：
    span 10576-01-01
    span(class='college')
    span(class='grade')
    span(class='major')
    span(class='stuclass')
  p(id="name") 名称：
    span 韶关学院 - 
    select(id='college')
    span  - 
    select(id='grade')
    span  - 
    select(id='major')
    span  - 
    select(id='stuclass')
  
 
  