extends ../layout
block content
  - var caption = (role == 'stu')? '编辑学生行政单元' : '编辑教职工行政单元'

  if role == 'stu'
    script(src='/units_student.js')
    script(src='/javascripts/getStudentUnit.js')
  else
    script(src='/units_teacher.js')
    script(src='/javascripts/getTeacherUnit.js')

  include ../header
  #units_edit.container
    .panel.panel-primary
      .panel-heading
        h3.panel-title #{caption}
      .panel-body
        form#UnitForm.form-horizontal(method="POST" action="/units/#{unit.id}?_method=PUT")
          input(type="hidden" value="" id="htcode" name="htcode")
          input(type="hidden" value="" id="name" name="name")
          include ../messages.jade
          .form-group
            .input-group
              span.input-group-addon 单元编码
              input(id="unit-code" type="text" class="form-control" disabled value="#{unit.htcode}" title="自动显示单元编码")
          .form-group
            .input-group
              if role == 'stu'
                span.input-group-addon 二级学院
                select#college.form-control
              else
                span.input-group-addon 机构部门
                select#institutions.form-control
              span.input-group-addon @韶关学院
            .input-group
              if role == 'stu'
                span.input-group-addon 所属年级
                select#grade.form-control
              else
                span.input-group-addon 机构附属
                select#departments.form-control
              span.input-group-addon @韶关学院
            .input-group
              if role == 'stu'
                span.input-group-addon 所属专业
                select#major.form-control
              else
                span.input-group-addon 院系附属
                select#divsion.form-control
              span.input-group-addon @韶关学院
            .input-group
              if role == 'stu'
                span.input-group-addon 所属班级
                select#stuclass.form-control
                span.input-group-addon @韶关学院     
          .form-group     
            .input-group
              span.input-group-addon 激活状态
              select#astatus.form-control(name="status")
                if unit.status
                  option(value="01" selected) 启用
                  option(value="02") 禁用
                else
                  option(value="01") 启用
                  option(value="02" selected) 禁用
              span.input-group-addon 启用/禁用此单元
          .form-group
            .btnok
              //input.button.button-glow.button-border.button-rounded.button-primary.btn-lg(type="submit" value="提交")
              input.button.button-pill.button-primary.btn-lg(type="submit" value="提交")
          .form-group
            p.link
              a(href="/units" target="_blank") 显示全部