nav#header.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    a.navbar-brand(href="/")
      img(alt="brand",src="/images/brand.gif")
    p.navbar-text.navbar-right
      a.navbar-link(href="/") 主页
      if sess.user
        a.navbar-link(href="/auth/logout") 注销[#{sess.user.name}]
      else
        a.navbar-link(href="/signup") 注册
        a.navbar-link(href="/auth/login") 登录