extends layout

block content
  .container-fluid
    .row
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          a.navbar-brand(href="#")
            img(alt="Express",src="../brand.gif")
          p.navbar-text.navbar-right
            a.navbar-link Sign up
            span /
            a.navbar-link Sign in
            span /
            a.navbar-link Exit
      
    .row(style="height:300px;")
      .hidden-xs.col-sm-1.col-md-2
      .title-block.col-xs-12.col-sm-10.col-md-8
        hr
        h1= title
        p Welcome to #{title}
        hr
      .hidden-xs.col-sm-1.col-md-2
      
    .row
      .container-fluid
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 专注为高校
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 学生事务管理系统
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 实验室管理系统
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 专注为高校
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 学生事务管理系统
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 实验室管理系统
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 学生事务管理系统
        .pro-block.col-md-3
          a.a-style.be-block(href="#") 实验室管理系统
        
    
    
    