extends layout

block content
  .panel.panel-primary.col-sm-offset-3(style="width:50%")
    .panel-heading
      h3.panel-title奇葩七人
    .panel-body(style="align:center")
      form.form-horizontal(method="post", action="/auth/login")
        .form-group
          span.glyphicon.glyphicon-pencil(aria-hidden="true")
          label.col-sm-4.control-label(for="name") 用户名：
          .col-sm-4
            input#name.form-control(type="text", placeholder="请输入用户名或邮箱")
        .form-group
          span.glyphicon.glyphicon-lock(aria-hidden="true")
          a(href="#")&nbsp;&nbsp;忘记密码？！戳我
          label.col-sm-4.control-label(for="Password") 密&nbsp;&nbsp;&nbsp;&nbsp;码：
          .col-sm-4
            input#Password.form-control(type="password", placeholder="请输入密码")
        .form-group
          .col-sm-offset-4.col-sm-4
            label.radio-inline
              input#optionsRadio1(type="radio",name="optionsRadios",value="option1",checked="true")
              |学生
            label.radio-inline
              input#optionsRadio2(type="radio",name="optionsRadios",value="option2")
              |教师
        .form-group
          .col-sm-offset-4.col-sm-4
            .checkbox
              label
                input(type="checkbox")
                |记住密码
        .form-group
          .col-sm-3.col-sm-offset-3
            
            button.button.button-3d.button-primary.button-rounded.button-xs(type="submit") 登录
          .col-sm-3.col-sm-offset-0
            button.button.button-3d.button-primary.button-rounded.button-xs.align-left(type="submit") 注册