if flash.length > 0
  ul.alert.alert-dismissible.fade.in(class='alert-warning' style="list-style-type:none")  
    //button.close(type="button" data-dismiss="alert" aria-label="Close")
    //  span(aria-hidden="true") &times;
    while message = flash.shift()
      li(class="#{message.type}")= message.message