script(src='/javascripts/jquery.min.js')
script(src='/units_teacher.js')
script(src='/javascripts/getTeacherUnit.js')
p(id="code") 代码：
  span 10576-02
  span(class='institution')
  span(class='department')
  span(class='divsion')
p(id="name") 名称：
  span 韶关学院-
  select(id='institutions')
  span -
  select(id='departments')
  span -
  select(id='divsion')