extends layout

block content
  include ./header.jade
  .panel.panel-primary.col-sm-offset-3(style="width:50%; margin-top:50px")
    .panel-heading
      h3.panel-title.text-center 欢迎注册奇葩七人系统
    .panel-body(style='align:center')
      form.form-horizontal(method='post', action='#')
        include ./messages.jade
        .form-group
          span(aria-hidden='true')
          label.col-sm-4.control-label(for='name') 证件号：
          .col-sm-4
            input#name.form-control(type='text',name="userid" placeholder='请输入学号或工号')
        .form-group
          span(aria-hidden='true')
          label.col-sm-4.control-label(for='name') 用户名：
          .col-sm-4
            input#name.form-control(type='text',name="username" placeholder='请输入用户名')
        .form-group
          span(aria-hidden='true')
          label.col-sm-4.control-label(for='name') 电子邮箱：
          .col-sm-4
            input#name.form-control(type='text',name="email" placeholder='请输入电子邮箱')
        .form-group
          span(aria-hidden='true')
          label.col-sm-4.control-label(for='Password') 密码：
          .col-sm-4
            input#Password.form-control(type='password',name="pass" placeholder='请输入密码')
        .form-group
          span(aria-hidden='true')
          label.col-sm-4.control-label(for='Password') 确认密码：
          .col-sm-4
            input#Password.form-control(type='password',name="pass" placeholder='请再次输入密码')
        .form-group
          .col-sm-3.col-sm-offset-3
            button.button.button-3d.button-primary.button-rounded.button-xs(type='submit') 注册
          .col-sm-3.col-sm-offset-0
            button.button.button-3d.button-primary.button-rounded.button-xs.align-left(type='submit') 重置