script(src='/javascripts/jquery.min.js')
script(src='/units_student.js')
script(src='/javascripts/getStudentUnit.js')
p(id="code") 代码：
  span 10576-01-01
  span(class='college')
  span(class='grade')
  span(class='major')
  span(class='stuclass')
p(id="name") 名称：
  span 韶关学院 - 
  select(id='college')
  span  - 
  select(id='grade')
  span  - 
  select(id='major')
  span  - 
  select(id='stuclass')