body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*For index.jade --start--*/
.title-block {
  /*height: 420px;         /*------标题部分的高度-------*/
  text-align: center;
  padding: 80px 0px;
}
.pro-block {
  height: 250px;          /*------各系统入口块的统一高度-------*/
  /*border: 1px solid grey;     边框*/
  padding: 0 10px 10px 0;
}
.be-block {
  width: 100%;
  height: 100%;
  display: block;
}
.a-style {
  color: #000000;
  background-color: #DDDDDD;/*The links' bg-color*/
  font-size: 24px;
  text-align: center;
  padding: 70px 0 0px 0;
}
.hr-style {     /*水平线的样式*/
  height: 5px;
  background-color: black;
}
/*For index.jade --end--*/