body { 
  padding-top: 70px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

//以下是固定导航条的样式
#header {
  nav {
    background-color: rgba(0,0,0,0.4);
  }
  a {
    margin-top: -10px;
    margin-left: 20px;
  }
  p {
    padding-right: 40px;
  }
}

//以下是适用于主页的样式
#index {
  .title-block {
    text-align: center;
    padding: 80px 0px;
    h1 {
      font-size: 80px;
      font-family:'微软雅黑';
    }
    hr {
      height: 5px;
      background-color: black;
    }
    p {
      font-size: 14px;
    }
  }
  .pro-block {
    height: 150px; 
    padding: 0 10px 10px 0;
    a {
      color: #00B7FF;
      color: #000000;
      background-color: #DDDDDD;/*The links' bg-color*/
      font-size: 24px;
      text-align: center;
      padding: 70px 0 0px 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

//以下样式适用于 units/index 页面
#units_index {
  margin-top: 50px;
  td {
    padding-right: 20px;
    
  }
  .page-num {
    padding-top: 40px;
    padding-left: 0;
  }
  .unit-pager {
    margin: 0;
    padding-right: 0;
    padding-left: 120px;
  }
}

#units_new{
  .form-group{
  padding-bottom:10px;
  }
}
 
